.playerPage {
    margin: 2rem 1rem;
}

.videoBox {
    width: 100%;
}

.videoNotice {
    padding: 0.4rem 0;
}

.subTitle{
    display: flex;
    color:$themeFontColor;
    // align-items: center;
    margin: 0.8rem 0;

    .titLabel {
        font-size: 1.2rem;
        width: 6.8rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-top:0.4rem;
    }

    .titleVals {
        font-size: 0.9rem;
        flex:1;
        span {
            display: inline-block;
            padding: 0.1rem 0.6rem;
            margin: 0.4rem 0.6rem;
            border: 1px solid $themeFontColor;
            border-radius: 0.2rem;
            cursor: pointer;
            &.active{
                background:$themeFontActiveColor;
                color:$themeFontColor;
                border: 1px solid $themeFontActiveColor;
            }
        }
    }

}


.videoIntroduce {
    border-top: 1px solid #c5c5c0;
    padding-top: 1.8rem;
    display: flex;

    .imgShow {
        background: rgba(0, 0, 0, 0.1);
        img{
            display:block;
            width: 100%;
        }
    }
    @media (min-width: 300px) {
        .imgShow {
            width: 40%;
            flex: 0 0 40%;
        }
    }
    
    @media (min-width: 768px) {
        .imgShow {
            width: 12%;
            flex: 0 0 12%;
        }
    }
    
    .videoIntro {
        font-size: 1rem;
        color:$themeFontColor;
        margin-left: 1rem;
        flex:1;
        .videoSei {
            padding: 0.5rem 0;
        }
        .videoGenre{
            padding-top:2rem;
        }
    }
}

.videoSeiBox {
    display: flex;
    color:$themeFontColor;
    // align-items: center;
    margin: 0.8rem 0;

    .titLabel {
        font-size: 1.2rem;
        width: 6.8rem;
        padding-top:0.4rem;
    }

    .titleVals {
        font-size: 0.9rem;
        flex: 1;
        span {
            display: inline-block;
            padding: 0.3rem 0.8rem;
            margin: 0.2rem 0.6rem;
            border: 1px solid $themeFontColor;
            cursor: pointer;
            border-radius: 0.2rem;
            &.active{
                background:$themeFontActiveColor;
                color:$themeFontColor;
                border: 1px solid $themeFontActiveColor;
            }
        }
    }

}